
.ipynb_checkpoints/모의고사 2회-1-checkpoint.ipynb
data/모의고사 1회/FIFA.csv
data/모의고사 3회/BlackFriday.csv
data/모의고사 4회/weatherAUS.csv
data/모의고사 1회/[ADP실기 R코드] 모의고사 1회 정답.txt
data/모의고사 1회/lotto.csv
data/모의고사 1회/영화 기생충_review.txt
data/모의고사 1회/영화 기생충_사전.txt
data/모의고사 2회/[ADP실기 R코드] 모의고사 2회 정답.txt
data/모의고사 2회/Admission.csv
data/모의고사 2회/titanic.csv
data/모의고사 2회/연설문.txt
data/모의고사 3회/[ADP실기 R코드] 모의고사 3회 정답.txt
data/모의고사 3회/공구 블로그 댓글.txt
data/모의고사 3회/사전.txt
data/모의고사 4회/[ADP실기 R코드] 모의고사 4회 정답.txt
data/모의고사 4회/bike_marketing.csv
data/모의고사 4회/instagram_태교여행.txt
data/모의고사 1회/[ADP실기 R코드] 모의고사 1회 정답.txt
data/모의고사 2회/[ADP실기 R코드] 모의고사 2회 정답.txt
data/모의고사 3회/[ADP실기 R코드] 모의고사 3회 정답.txt
data/모의고사 4회/[ADP실기 R코드] 모의고사 4회 정답.txt
.ipynb_checkpoints/정리노트 - 회귀분석과 변수선택, 상관계수(pairplot, heatmap, regplot)-checkpoint.ipynb
